* {
  margin: 0;
  padding: 0;
  text-transform: none;
}
html {
  background-image: url("../src/images/background-desktop.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw;
}

body {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  margin-top: 1em;
  margin-bottom: 2em;
  line-height: 1.5em;
}

h2 {
  margin-bottom: 0.2em;
}

h3 {
  margin-bottom: 0.2em;
}

a:hover {
  cursor: pointer;
  color: #6069a9;
}

.App {
  margin-left: 200px;
  margin-right: 200px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  max-width: 100vw;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 140px 0px 140px;
  box-shadow: 0px 2px 10px #00000029;
}

.menu-category {
  margin-left: 64px;
}

.footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media only screen and (max-width: 1440px) {
  .App {
    margin-left: 160px;
    margin-right: 160px;
  }
  .header-menu {
    padding: 24px 120px 12px 120px;
  }
}

@media only screen and (max-width: 1280px) {
  .App {
    margin-left: 112px;
    margin-right: 112px;
  }
  .header-menu {
    padding: 24px 112px 12px 112px;
  }
  .menu-category {
    margin-left: 40px;
  }
  html {
    background-image: url("../src/images/background-small-desktop.png");
  }
}

@media only screen and (max-width: 768px) {
  .App {
    margin-left: 64px;
    margin-right: 64px;
  }
  html {
    background-image: url("../src/images/background-tablet@2x.png");
  }

  /* for a moment */
  .footer {
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    margin-left: 24px;
    margin-right: 24px;
  }
  html {
    background-image: url("../src/images/background-mobile@2x.png");
  }
}
